[user]
    email = theo.biasutto-lervat@inria.fr
    name = Théo BL

[core]
    pager = delta

[alias]
    graph = log --graph --pretty=format:'%C(yellow)%h%Creset -%Cred%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    side-by-side = true
    line-numbers = true

[init]
    defaultBranch = main

[branch]
    autoSetupMerge = simple

[pull]
    rebase = true

[push]
    default = simple
    followTags = true
    autoSetupRemote = true

[merge]
    ff = false
    conflictstyle = zdiff3

